*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 /*display inline-block*/
 /*position:abolute*/
 /*top: 0px, bottom: 0px, left: 0px, and right: 0px only define two of these e.g top and bottom, or right, and left*/
 /*position:static is default and does not have right,left,top, and bottom declarations*/
 /*position:relative*/
 /*top: 0px, bottom: 0px, left: 0px, and right: 0px*/
 position:fixed
 /*top: 0px, bottom: 0px, left: 0px, and right: 0px*/
 /*top: 10px*/
 /*bottom:20px;*/
 width: 970px;
 overflow: hidden;
 height: auto;
 background-color: grey;

}
#header{
 min-height: 100px;
 border:1px solid black;
 margin:10px;
 padding: 10px;
 background-color: red;
}

#navigation{
 min-height: 200px;
 width: 200px;
 border:1px solid black;
 margin:20px;
 float:left;
 /*position: absolute;*/
 /*top: 250px;*/
 background-color: blue;
}
#main_content{
 min-height: 600px;
 width: 970px;
 border:1px solid black;
 margin:20px;
 float: right;
 background-color: purple;
}
/*#advert {*/
 /*min-height: 50px;*/
 /*border:1px solid black;*/
 /*margin:20px;*/
 /*position: static;*/
 /*bottom:100px;*/
 /*background-color: silver;*/
}